parameters:
    api: "http://localhost:8080"


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- GuzzleHttp\Client
	- App\Model\ApiConnector(%api%)
	router: App\RouterFactory::createRouter
