parameters:
    api: "http://localhost:8081"


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- GuzzleHttp\Client

	BasePresenter:
		class: App\Presenters\BasePresenter
		setup:
			- setApiEndpoint(%api%)

	router: App\RouterFactory::createRouter
